@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Ubuntu:wght@300&display=swap');
;
*{
    margin: 0;
    padding: 0;
}
body, html{
    min-width: 100%;
    min-height: 100vh;  
} 
body{
    background: url("/assets/ZigZag.png") ;
    background-size: cover;
}
 .box-container{
    width:90%;
    height: 600px;  
    text-align: center;
    margin: 10% auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 40px 40px -20px #3C7B61;
 }
.close-btn{
    background: url("/assets/Group\ 21.png") no-repeat ;
    background-position: center;
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 10px;
    right: 10px;
}
.inner-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20% 10%;   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.happy-icon{
    width: 110px;
    height: 100px;
    background: url("/assets/Group.jpeg");
    margin: 0 auto;
}
.inner-container > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0 ;  
}
.confirmation-message {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color:#828282;
      margin: 0;
}
.food-selection{
    font-family: 'Montserrat', sans-serif;  
    text-align: left;
    background-color: #F0FFF5;
    border-radius: 5px;;
    display: flex;
    /* flex-direction: row;  */
    align-items: center;
    /* justify-content: space-between;  */
    margin:0; 
}
.item-img, .item-type, .item-price {
    margin: 0;
}
.item-description{
    margin-left:20px;
}
h3{
    font-weight: 600;
    font-size: 15px;
} 
.change {
    margin: 0 30px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #467A66;
}
.im-ready-submit{
    padding: 5% 30%;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #46A67E;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.page-indicators{
    display: flex;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.dot-indicator{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #d6d5d5;
    margin: 30px 7px;
}
#current-page-indicator{
    background: #46A67E;
}